body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0px;
    padding: 0px;
    
    background-color: #393333;
}

section.calculator{
    /* position: absolute; */
   
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
}

section.calculator div.display{
    width: 84%;
    height: 4vh;
    background-color: black;
    color: white;
    font-size: 20px;
    font-family: monospace;
    padding: 23px 24px;

}

section.calculator div.touch_pad{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
}


section.calculator div.touch_pad div.btn{
    width: 100px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid gray;
    background-color: cornsilk;

}

section.calculator div.touch_pad div.btn:hover{
    background-color: rgb(0, 0, 0);
    cursor: pointer;
    
    color: white;
    font-family: monospace;
    font-size: 25px;
    overflow: hidden;
}